.App {
  text-align: center;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}
.displayaround{
    display: flex;
    justify-content: space-around;
}
.displaybar{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.post {
    background-color: #282c34;
    border :solid;
    display: flex;
    border-radius: 20px;
    width: 50%;
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.feed {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
